binds {
    Mod+Return { spawn "kitty"; }
    Mod+F { spawn "firefox"; }
    Mod+E { spawn "nautilus"; }
    Mod+Backspace { toggle-overview; }
    Mod+Q { close-window; }
    Mod+Shift+F { toggle-window-floating; }

    XF86MonBrightnessDown { spawn "hsh" "brightness" "lower"; }
    XF86MonBrightnessUp { spawn "hsh" "brightness" "raise"; }

    Print { spawn "hsh" "screenshot"; }
    Shift+Print { spawn "hsh" "screenshot" "--edit"; }
    Super+Print { spawn "hsh" "screenshot" "--full"; }
    Super+Shift+Print { spawn "hsh" "screenshot" "--full" "--edit"; }

    XF86PowerOff { spawn "hsh" "lock"; }
    Mod+L { spawn "hsh" "lock"; }

    Mod+Space { spawn "playerctl" "play-pause"; }
    XF86AudioPause { spawn "playerctl" "play-pause"; }
    XF86AudioPlay { spawn "playerctl" "play-pause"; }
    XF86AudioPrev { spawn "playerctl" "previous"; }
    XF86AudioNext { spawn "playerctl" "next"; }
    XF86AudioMicMute { spawn "hsh" "volume" "mic-toggle"; }
    XF86AudioMute { spawn "hsh" "volume" "mute-toggle"; }
    XF86AudioLowerVolume { spawn "hsh" "volume" "lower"; }
    XF86AudioRaiseVolume { spawn "hsh" "volume" "raise"; }

    Mod+R { spawn "hsh" "reload"; }
    Mod+C { spawn "hsh" "msg" "toggle" "clipboard"; }
    Mod+D { spawn "hsh" "msg" "toggle" "launcher"; }
    Mod+M { spawn "hsh" "msg" "toggle" "music"; }
    Mod+B { spawn "hsh" "msg" "toggle" "system"; }
    Mod+W { spawn "hsh" "msg" "toggle" "wallpaper"; }
    Mod+S { spawn "hsh" "msg" "toggle" "calendar"; }
    Mod+N { spawn "hsh" "msg" "toggle" "network"; }
    Mod+V { spawn "hsh" "msg" "toggle" "volume"; }
    Mod+H { spawn "hsh" "msg" "toggle" "guide"; }
    Mod+A { spawn "hsh" "msg" "toggle" "autohide"; }

    Mod+Left { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Up { focus-window-or-workspace-up; }
    Mod+Down { focus-window-or-workspace-down; }

    Mod+Ctrl+Left { move-column-left; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+Up { move-column-to-workspace-up; }
    Mod+Ctrl+Down { move-column-to-workspace-down; }

    Mod+Shift+Left { set-column-width "-5%"; }
    Mod+Shift+Right { set-column-width "+5%"; }
    Mod+Shift+Up { set-window-height "-5%"; }
    Mod+Shift+Down { set-window-height "+5%"; }

    Mod+1 { spawn "hsh" "msg" "workspace" "1"; }
    Mod+2 { spawn "hsh" "msg" "workspace" "2"; }
    Mod+3 { spawn "hsh" "msg" "workspace" "3"; }
    Mod+4 { spawn "hsh" "msg" "workspace" "4"; }
    Mod+5 { spawn "hsh" "msg" "workspace" "5"; }
    Mod+6 { spawn "hsh" "msg" "workspace" "6"; }
    Mod+7 { spawn "hsh" "msg" "workspace" "7"; }
    Mod+8 { spawn "hsh" "msg" "workspace" "8"; }
    Mod+9 { spawn "hsh" "msg" "workspace" "9"; }
    Mod+0 { spawn "hsh" "msg" "workspace" "10"; }

    Mod+Shift+1 { spawn "hsh" "msg" "workspace" "1" "move"; }
    Mod+Shift+2 { spawn "hsh" "msg" "workspace" "2" "move"; }
    Mod+Shift+3 { spawn "hsh" "msg" "workspace" "3" "move"; }
    Mod+Shift+4 { spawn "hsh" "msg" "workspace" "4" "move"; }
    Mod+Shift+5 { spawn "hsh" "msg" "workspace" "5" "move"; }
    Mod+Shift+6 { spawn "hsh" "msg" "workspace" "6" "move"; }
    Mod+Shift+7 { spawn "hsh" "msg" "workspace" "7" "move"; }
    Mod+Shift+8 { spawn "hsh" "msg" "workspace" "8" "move"; }
    Mod+Shift+9 { spawn "hsh" "msg" "workspace" "9" "move"; }
    Mod+Shift+0 { spawn "hsh" "msg" "workspace" "10" "move"; }
}
